<html>
<head>

    
<title>registration Details</title>

</head>

<body>
  <main role="main">
    
    <section class="panel important">
    <body>
<p style="color:#FF0000;">
</div>
<div class="field">
  <br>
  <br>
<h1 style="text-align: center; color:black;"><b><u>VIEW REGISTER</u></b></h1>
<table width="100%" border="3px" style="border-collapse:collapse;">
<thead>
<tr >
        <th style="text-align:center; font-size:17px;"><b>S.NO</th>
        <th style="text-align:center; font-size:17px;"><b>NAME</th>
        <th style="text-align:center; font-size:17px;"><b>Employee Id</th>
        <th style="text-align:center; font-size:17px;"><b>Email</th>
        <th style="text-align:center; font-size:17px;"><b>DELETE</th>
</tr>
</thead>
<tbody>

<td align="center">
<a href="deletecus.php?ID=<?php echo $row["CustomerId"]; ?>"style="color:red;"><i class="fa fa-trash-o" style="color:red"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>

</body>
</section>
  </main>
  </html>