<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="instyle.css">
  <title>Form</title>
</head>

<body>
  <div class="signup">
    <div class="sign">
      <form id="attendance-form" action="/generate_qr" method="post" onsubmit="navigateToJavaScript()">
        <h1>Attendance Form</h1>
        <table>
          <input type="file" name="fileToUpload" id="fileToUpload">
        </table>
        <button type="submit" id="submit-button">Sign Up</button>
      </form>
      </div>
    </div>
  </div>

</body>

</html>